#ErrorDocument 404 /404.php
#AddDefaultCharset UTF-8
#Header unset ETag
#FileETag None

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    #custom Urls
    RewriteRule ^$ customer/Customer-Home.php [NC,L]
    RewriteCond %{REQUEST_URI} ^(?!\/(admin|customer)\/).*
    RewriteRule ^(.+) customer/$1 [NC,L]
</IfModule>

<FilesMatch "db\.ini">
  Order allow,deny
  Deny from all
</FilesMatch>