#ErrorDocument 404 /404.php
#AddDefaultCharset UTF-8
#Header unset ETag
#FileETag None

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png|ico)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*$ public_assets/defaults/default-image-landscape.jpg [L]

#custom Urls
RewriteRule ^$ customer/Customer-Home.php [NC,L]
RewriteCond %{REQUEST_URI} ^(?!\/(admin|customer|public_assets)\/).*
RewriteRule ^(.+) customer/$1 [NC,L]

<IfModule mod_rewrite.c>
</IfModule>

<FilesMatch "db\.ini">
  Order allow,deny
  Deny from all
</FilesMatch>