#ErrorDocument 404 /404.php
#AddDefaultCharset UTF-8
#Header unset ETag
#FileETag None

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png|ico)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*$ public_assets/defaults/default-image-landscape.jpg [L]

<filesMatch "\.(html|htm|js|css|jpeg|jpg|png)$">
  FileETag None
  <ifModule mod_headers.c>
  Header unset ETag
  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>

#custom Urls
RewriteRule ^$ customer/Customer-Home.php [NC,L]
RewriteCond %{REQUEST_URI} ^(?!\/(admin|customer|public_assets|testing_area)\/).*
RewriteRule ^(.+) customer/$1 [NC,L]

<IfModule mod_rewrite.c>
    #RewriteEngine On
    #RewriteBase /
    #RewriteRule ^.*$ htaccess_tester.php

    #RewriteCond %{REQUEST_FILENAME} !-f

    #nireredirect lahat ng url na may .html papunta sa root
    #RewriteCond %{THE_REQUEST} \.html
    #RewriteRule ^(.*)\.html$ / [R=301,L]

    #RewriteCond %{REQUEST_FILENAME} !-f

    #custom Urls
    #RewriteRule ^analytics$ admin-webAnalytics.html [NC,L]
    #RewriteRule ^rooms$ admin-page-room.html [NC,L]
    #RewriteRule ^amenities$ admin-page-amenities.html [NC,L]
    #RewriteRule ^accounts$ admin-accounts.html [NC,L]
    #RewriteRule ^vouchers$ admin-vouchers.html [NC,L]
    #RewriteRule ^billing$ admin-billing.html [NC,L]
    #RewriteRule ^appearance$ admin-settings-appearance.html [NC,L]
    #RewriteRule ^webpage$ admin-settings-webpage.html [NC,L]
    #RewriteRule ^profile$ admin-settings-myAccount.html [NC,L]

    #RewriteRule ^rooms/(.*)$ customFiles/php/database/roomControls/displayRoom.php?q=$1 [NC,L]
</IfModule>

