#AuthName "Protected Area"
#AuthType Basic
#AuthUserFile "D:\Alt Program Files\xampp\htdocs\HRBS\.htpasswd"
#require valid-user

#ErrorDocument 404 /404.php
#AddDefaultCharset UTF-8
#Header unset ETag
#FileETag None

#-Indexes
#Options +FollowSymLinks -MultiViews 
# Turn mod_rewrite on
#RewriteEngine On
#RewriteBase /

#RewriteCond %{THE_REQUEST} /([^.]+)\.html$ [NC]
#RewriteRule ^ /%1 [NC,L,R] 

#RewriteCond %{REQUEST_FILENAME}.html -f
#RewriteRule ^ %{REQUEST_URI}.html [NC,L]

#RewriteRule ^(.*)$ echo.php?q=$1 [L,QSA]

#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond %{REQUEST_FILENAME}\.php -f 
#RewriteRule ^(.*)$ $1.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /admin/
    
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    #RewriteRule ^.*$ htaccess_tester.php

    #RewriteCond %{REQUEST_FILENAME} !-f

    #nireredirect lahat ng url na may .html papunta sa root
    #RewriteCond %{THE_REQUEST} \.html
    #RewriteRule ^(.*)\.html$ / [R=301,L]

    #RewriteCond %{REQUEST_FILENAME} !-f

    #RewriteRule ^sad$ admin-webAnalytics.html [R=302]

    RewriteCond %{REQUEST_URI} profilePictures/.*\.(jpg|jpeg|gif|png|ico)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .*$ ../public_assets/defaults/profilePicture.jpg [L]

    #custom Urls
    RewriteRule ^analytics$ admin-webAnalytics.php [NC,L]
    RewriteRule ^rooms$ admin-page-room.php [NC,L]
    RewriteRule ^amenities$ admin-page-amenities.php [NC,L]
    RewriteRule ^accounts$ admin-accounts.php [NC,L]
    RewriteRule ^vouchers$ admin-vouchers.php [NC,L]
    RewriteRule ^billing$ admin-billing.php [NC,L]
    RewriteRule ^settings-system$ admin-settings-system.php [NC,L]
    RewriteRule ^appearance$ admin-settings-appearance.php [NC,L]
    RewriteRule ^settings-hotel$ admin-settings-webpage.php [NC,L]
    RewriteRule ^profile$ admin-settings-myAccount.php [NC,L]
    RewriteRule ^logout$ admin-logout.php [NC,L]

    RewriteRule ^rooms/(.*)$ customFiles/php/database/roomControls/displayRoom.php?roomTypeID=$1 [NC,L]
    RewriteRule ^reservation/(.*)$ admin-reservation-view.php?reservationID=$1 [NC,L]
</IfModule>

